<h1 class="pages-title">Product Listing</h1>
<div class="similar-products">
	<div class="similar-product  col-xs-12  col-sm-6  col-md-3" *ngFor = 'let product of ProductsService.productList'>
		<div class="similar-product__title">
			<a routerLink="/productDetails/{{product.ID}}">{{product.Name}} #:{{product.ID}}</a> 
		</div>
		<div class="similar-product__img">
			<img [src] = 'product.url'>
		</div>
		<div class="similar-product__info">
			{{product.Details}}
		</div>
		<div class="similar-product__price bold">
			Price : {{CommonServices.currencyFormat(product.Price * 1)}}
		</div>
		<div class="similar-product__option" *ngIf="product.Qty === 0">
			<a title="" class="btn btn-primary">Out Of Stock</a>
		</div>
		<div class="similar-product__option" *ngIf="product.Qty !== 0">
			<a title="" class="btn btn-primary" (click)="CommonServices.AddToCartFunction(product.ID,1,'No')">Add To Cart</a>
		</div>
	</div>
</div>

