<h1 class="pages-title">Product Details</h1>
<div class="similar-products">
	<div *ngFor = 'let product of ProductsService.productList'>
        <div class="similar-product row" *ngIf='productID === product.ID'>
            <div class="similar-product__title col-xs-12">
                <h2>{{product.Name}} #:{{product.ID}}</h2>
            </div>
            <div class="similar-product__img col-xs-12 col-sm-6">
                <img [src] = 'product.url'>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="similar-product__stars">
                    <span class="active glyphicon glyphicon-star"></span>
                    <span class="active glyphicon glyphicon-star"></span>
                    <span class="active glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </div>
                <div class="similar-product__info">
                    {{product.Details}}
                </div>
                <div class="similar-product__price bold">
                    <h3>Price : {{CommonServices.currencyFormat(product.Price * 1)}}</h3>
                </div>
                <form (ngSubmit)="CommonServices.AddToCartFunction(product.ID, addToCart.value.productQty, 'UpdateQty')" #addToCart="ngForm">
                    <div class="similar-product__qty">
                        <div class="form-group">
                            <label>QTY</label>
                            <input required ngModel="1" name="productQty" class="form-control" type="number">
                        </div>                    
                    </div>
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <div class="similar-product__option">
                        <input type="submit" [disabled]="!addToCart.valid" class="btn btn-primary" value="Add To Cart">
                        <!-- <a class="btn btn-primary" (click)="addToCart(product.ID)">Add To Cart</a> -->
                        <a class="btn btn-default add-wishlist" (click)="addWishlistProductFunc(product.ID)"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</a>
                    </div>
                </form>
                <!-- <div class="dropdown" appDropdown>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</div>